html,body,div{
    padding: 0;
    margin: 0;
}
body{
    font-size: 0;
    background: url(../image/ALL/background.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    letter-spacing: .4vw;
}

/* 幕布 */
#shadow{
    width: 100vw;
    height: 100vh;
    background: #293860;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
}

/* 侧边栏样式 */
#aside{
    width: 20%;
    height: 100vh;
    background: #29386011;
}
#aside-menu{
    width: 70%;
    height: 75%;
    margin: auto;
    margin-top: 15vh;
    border: .2vw solid transparent;
    border-image: linear-gradient(to bottom, #13c4f0, #136bf0);
    border-image-slice: 10;
}
#data-analysis-box span{
    display: block;
}
#menu-icon{
    width: auto;
    height: 10%;
    display: block;
    margin: 2vh auto;
}
.menu-first{
    width: 80%;
    height: 5vh;
    margin: 1vh auto;
    font-size: 2vh;
    color: #ffffff;
    line-height: 5vh;
    text-align: center;
    -webkit-text-stroke: .05vh #1122f7;
    background: #1e273e;
    border-radius: .5vh;
    border:.2vh #12192a solid;
    border-top: .1vh #12192a solid;
    border-bottom: .4vh #12192a solid;
}
.menu-second span{
    display: none;
    width: 80%;
    height: 4vh;
    margin: 0 auto;
    font-size: 2vh;
    color: #ffffff;
    margin-top: 1vh;
    line-height: 4vh;
    text-align: center;
    background: #1e273e;
}
#logo{
    display: block;
    float: right;
    margin-top: 5%;
    width: 60%;
    height: auto;
} 
#content{
    width: 80%;
    height: 100vh;
}

/* 顶部样式 */
#content-top{
    width: 25%;
    margin-right: 5%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
}
#content-top img{
    width: auto;
    height: 40%;
}
#content-top #user{
    width: auto;
    height: 50%;
}
#user-name{
    width: 30%;
    font-size: 1vw;
    color: black;
}

/* 通用样式 */
.content-body{
    width: 96%;
    background: rgba(0, 0, 0, 0.068);
    display: none;
    margin-top: 15vh;
    height: 75vh;
}
.model-training{
    height: 6vh;
    color: #fff;
    font-size: 3vh;
    line-height: 6vh;
}
.model-training img{
    width: auto;
    height: 40%;
    margin-left: 1vw;
}
.model-training span{
    margin: 0 1vw;
}
.model-training-menu{
    height: 4vh;
    color: #fff;
    font-size: 2vh;
}
.model-training-menu img{
    width: auto;
    height: 30%;
}
.model-training-menu span{
    margin:0 1vw;
}