#game{
	display: flex;
	flex-direction: row;
}
 .con-middleM{
  width: 58vw;
  height: 75vh;
  position: relative;
  border: 3.4vh solid transparent;
  border-image:url(../../image/1/1-border-main.png) 70 ; 
  text-align: center;
  margin-top: -1.6vh;
 }

.con-middleM>span{
	display: inline-block;
	width: 5vw;
    height: 2.8vh;
    padding-top: .4vh;
    margin-top: -2vh;
    overflow: hidden;
    background-color: #2978d7;
    border-radius: 2px;
    font-size: 1vw;
    letter-spacing: 0;
    color: white;
    text-align: center;
}
.con-middleM .mid-top{
	width: 56vw;
	height: 4.6vh;
	position: absolute;
	top: 4.6vh;
	left: 1vh;
	background-color: #26436d;	
	float: left;
	font-size: 1vh;
	color:#bcc5ce;
	white-space: nowrap;
}
.mid-top>span{
	float: left;
	margin-top: 1vh;
}
.mid-top>div{
	margin-top: 1.2vh;
	text-align: left;
	width: 8.4vw;
	height: 1.8vh;
	line-height: 1.8vh;
	background-color: #274871;
	margin-left: 1.6vh;
	float: left; 
}
.mid-top .logo-mid{
    display: inline-block;
    width: 20%;
    height:100%;
    background: url(../../image/1/logo-mid.png) no-repeat;
    background-size: 60% 100%;
    float: right;
}
.mid-top .detail{
	display: none;
	background: green;
	text-align:center;
}
.detail li{
   border-bottom: 1px solid #ccc;
}
.mid-con{
	position: absolute;
	top: 16.7vh;
	left: 1vh;
}
.mid-con img{
	width: 58vw;
	height: 30vh;
}
/*中间底部内容*/
.mid-bot {
	width: 60vw;
	height: 24vh;
	position:absolute;
	bottom: 1vh;

}
.mid-bot .box{
	width: 58vw;
	height: 24vh;
	display: flex;
	flex-direction: row;
	position: relative;
/*	position: absolute;*/
}
.mid-bot .box .box-con{
	/*float: left;*/
	width: 8.3vw;
	height:24vh;
	margin-left: 1vw;
	margin-right: 2vw;
	font-size: 0.1vh;
	background-color: rgba(27,70,113,0.8);
	position: relative; 
	color: #657faf;
}
.box-con>span{
	display: inline-block;
	margin-top: 15%;
	text-align: center;
	font-size: 2vh;
  color: #617ead;
} 
.box-con ul{
  position: absolute;
	bottom: 6%;
	width: 98%;
	height: 24%;
	left: 10%;
	overflow: hidden;
}
.box-con ul li{
	color:#cbd2db;
	float: left;
	margin-top: 0.2vh;
	margin-right: 6%;
	letter-spacing: 0;
}
.box-con ul li:last-child{
	color: #b0233b;
}
.box-con img{
	display: block;
    margin-top: 10%;
}

.box i{
	display: block;
	height: 24vh;
	width: 2vw;
	background: rgba(27,70,113,0.8);
}
.box i:first-child{
	position: relative;
	left: 0;
	margin-left: 1vw;
	background-image: url(../../image/1/pre.png);
	background-repeat: no-repeat;
	background-size: 2vw;
    background-position: 0 40%;
}
.box i:last-child{
	position: relative;
	right: 1vw;
	background-image: url(../../image/1/next.png); 
    background-repeat: no-repeat;
	background-size: 2vw;
    background-position: 0 40%;
}
 /*右边内容*/
 .con-rightM{
 	width: 14vw;
 	height: 75vh;
 	margin-left: 1vh;	
 	float: left;
    text-align: center;
 }
 .con-rightM span{
 	display: inline-block;
 	width: 5vw;
 	height: 2.8vh;
 	overflow: hidden;
 	padding-top: 0.4vh;	
 	background-color: #2978d7; 
 	border-radius: 2px;
 	font-size: 1vw;
 	letter-spacing: 0;
 	color: white;
 	text-align: center;
 }
 /*右边部分的顶部内容*/
 .right-top{
 	height: 33.8vh;
 	margin-bottom: 1vh;
    border: 2vh solid transparent;
 	overflow: hidden;
 	position: relative;
 	border-image: url(../../image/1/1-border-right.png) 25; 
 }
/*右边部分的底部内容*/

 .right-bottom{
 	height: 32vh;
    border: 2vh solid transparent;
 	overflow: hidden;
    position: relative;
    border-image: url(../../image/1/1-border-right.png) 25
 }

 .chart{
 	width:14vw;
 	height:15vh;
    margin-top: 1vh;
 }
#chart-1{
  position: absolute;
  top: 20%;
  width: 14vw;
  height: 10vh;
}

 #chart-2{
  position: absolute;
  top: 60%;
  width: 14vw;
  height: 10vh;

 }
 #chart-3{
  position: absolute;
  top: 8%;
  width: 12vw;
  height: 10vh;
 }
 #chart-4{
  position: absolute;
  top: 50%;
  width: 12vw;
  height: 14vh;	 
 }