/*css*/
ul{
  list-style: none;
  padding: 0;
}
.con-all{
	margin-left: .6vw;
	display: flex;
	flex-direction: row;
}
 .con-left{
 	width: 20%;
 	display: flex;
 	flex-direction: column;
 }
.con-left .cl{
	width: 98%;
	background: rgba(30,48,88,0.5);
	margin-top: .1vh;
  border-radius: 1vh;
	margin-left: 0.2vw;
	font-size: 0.8vw;
  position: relative;
  text-align: center;
}
.cl span,.cm span,.cr span{
  display: inline-block;
  letter-spacing: 0;
	width: 6.25vw;
	height: 2.8vh;
	background-color: #19597f;
	border-radius: 2vh;
	line-height: 2.8vh;
	margin-top: -1vh;
  color: #bcc9d3;
}
/*剩余部分 左侧顶部 第一个图*/
.con-left .cl-1{
	height: 9vh;
  border: .8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border-2.png) 12;
}
/*剩余部分 左侧顶部 第二个图*/
.con-left .cl-2{
	height: 20vh;
  border: .8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border.png) 12;
}
.cl-2 .left-right{
  width: 16vw;
  height: 18vh;
   display: flex;
   flex-direction: row;
}
.left-right #left{
  width: 6.4vw;
  height: 10vh;
  margin-top: 10%;
  margin-left: 5%;
}
.left-right #right{
  margin-left: 5%;
  width: 8vw;
  height: 10.8vh;
  margin-top: 10%;
}
/*剩余部分 左侧顶部 第三个图*/
.con-left .cl-3{
	height: 7.6vh;
  border:.8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border-2.png) 12;

}
/*剩余部分 左侧顶部 第四个图*/
.con-left .cl-4{
	height: 21vh;
  border:.8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border.png) 12;
}
.cl-4 img{
  height: 18vh;
  width: 80%;
}
/*剩余部分 中间区域*/
.con-middle{
	width: 43vw;
}
/*剩余部分 中间区域 */
.con-middle .cm{
	width: 100%;
	background-color: rgba(30,48,88,0.5);
	border-radius: 1.5vh;
	margin-left: 1.6vw;
	font-size: 0.8vh;
  text-align: center;

}
/*剩余部分 中间区域 顶部区域*/
.con-middle .cm-top{
	height: 46vh;
    position: relative;
    border: .2vh solid #08b5d5;
}
.cm-top img{
  width: 60%;
  height: 26vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30%;
  margin-top: -13vh;

}
/*剩余部分 中间区域 底部区域*/
.con-middle .cm-bottom{
	height: 16.7vh;
  margin-top: 1vh;
  background: rgba(30,58,99,0.5);
  position: relative;
  border: .2vh solid #08b5d5;
  box-shadow: 1 1;
}
.cm-bottom p{
    font-size: 1.3vw;
    position: absolute;
    top: 50%;
    margin-top: -1vw;
    left: 50%;
    margin-left: -4vw;
}
/*剩余部分 右边区域*/
.con-right{
	width: 17%;
}
.con-right .cr{
	width: 100%;
	background:  rgba(30,48,88,0.7);
	border-radius: 1.5vh;
	margin-left: 3vw;
  margin-top: .1vh;
	font-size: 0.8vw;
  text-align: center;
}
/*剩余部分 右边区域 顶部区域*/
.con-right .cr-top{
	height: 27.8vh;
  border:.8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border.png) 12;

}
/*剩余部分 右边区域 底部区域*/
.con-right .cr-bottom{
	height: 32.2vh;
  border:.8vh solid transparent;
  border-image: url(../../image/3-6/3-6-border-3.png) 12;

}
.cr-bottom img,.cr-top img{
	margin-top: 0;
  width: 100%;
  height: 24vh;
}