/* 可视化展示页面css */
#show-content-part-3-1{
    display: block;
}
#show-first-box,#show-three-box{
    width: 30%;
    height: 65vh;
    color: #fff;
    font-size: 3vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.show-box{
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-image: url(../image/3-1/show-border.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-1/show-border.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-1/show-border.png) 1 1 1 stretch;
    margin-top: 5vh;
}
#show-second-box{
    width: 28vw;
    height: 65vh;
    float: left;
    background: rgba(0, 0, 0, 0.164);
}
#show-three-box{
    width: 24%;
    margin: 3%;
    height: 55vh;
    border-image: url(../image/3-1/border-box.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-1/border-box.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-1/border-box.png) 1 1 1 stretch;
}

/* 选择方法页面 */
#show-content-part-3-2{
    color: #fff;
}
.method-line{
    width: 98%;
    height: .3vh;
    margin: 0 auto;
    background: #13c4f0;
}
.method-box{
    width: 98%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#method-sure{
    height: 4vh;
    width: 10%;
    font-size: 2vh;
    line-height: 4vh;
    text-align: center;
    border-radius: 1vh;
    display: block;
    background: rgba(0, 0, 0, 0.507);
    margin: 3vh auto;
}
.method-choose-box{
    width: 16%;
    height: 80%;
    font-size: 1.4vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-image: url(../image/3-3/content-box.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-3/content-box.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-3/content-box.png) 1 1 1 stretch;
}
.arrow{
    width: 1.2vw;
    height: 80%;
    background: #4f637f;
    border-radius: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow img{
    width: 50%;
    height: auto;
}
.method-show{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.method-show-box{
    width: 16%;
    height: 100%;
    background: #4f637f;
    border-radius: 8%;
    font-size: 1vw;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.method-show-box img{
    height: 50%;
    width: 90%;
}

/* 选择数据页面css */
#data-first-box,
#data-second-box{
    width: 25%;
    float: left;
    margin: 0 2%;
    height: 65vh;
    border: .2vw solid transparent;
    border-image: linear-gradient(to bottom, #13c4f0, #136bf0);
    border-image-slice: 10;
    color: #fff;
    font-size: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.data-choose-box{
    display: block;
    width: 40%;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.6vh;
    border-radius: 1vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.507);
}
#data-second-box{
    width: 65%;
}
#data-show-content{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-show-box{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-image: url(../image/3-2/content-box.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-2/content-box.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-2/content-box.png) 1 1 1 stretch;
}
#data-show-description{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #313131;
}
#sure{
    width: 10%;
    height: 4vh;
    text-align: center;
    border-radius: 1vh;
    line-height: 4vh;
    background: rgba(0, 0, 0, 0.507);
}

/* 查看已有界面模型 */
#model-first-box{
    width: 100%;
    height: 62vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.model-show-box{
    width: 32%;
    height: 48%;
    background: #505969b6;
}
.model-show-box img{
    width: 40%;
    height: auto;
    margin: 3%;
}
.model-show-box p{
    width: 50%;
    height: 40%;
    float: right;
    letter-spacing: 0;
    font-size: .8vw;
    color: #000;
}
.model-show-box span{
    display: block;
    width:50%;
    height: 40%;
    float: right;
    letter-spacing: 0;
    font-size: .6vw;
    color: #000;
}
#page-choose-box{
    width: 30%;
    float: right;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#page-select{
    width: 20%;
    height: 60%;
    border-radius: .4vw;
    background: #fff;
}
#page-go{
    width: 10%;
}
#last-page,
#next-page,
#page-go{
    width: 15%;
    height: 60%;
    letter-spacing: 0;
    line-height: 3vh;
    text-align: center;
    border-radius: .4vw;
    font-size: .4vw;
    color: #fff;
    background: #1e273eb6;
}

/* 树型分析展示界面 */
#tree-choose{
    width: 16%;
    height: 40vh;
    margin: 2%;
    margin-right: 8%;
    font-size: 1vw;
    text-align: center;
    line-height: 40vh;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border-image: url(../image/3-5/content-box.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-5/content-box.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-5/content-box.png) 1 1 1 stretch;
}
#model-tree{
    width: 30%;
    height: auto;
    vertical-align: top;
    margin-top: 15vh;
}
#tree-information{
    width: 40%;
    height: 65vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tree-information-box{
    height: 20vh;
    width: 90%; 
    font-size: 1vw;
    text-align: center;
    line-height: 20vh;
    color: #fff;
    border-image: url(../image/3-5/text-box.png) 1 1 1 stretch;
    -o-border-image: url(../image/3-5/text-box.png) 1 1 1 stretch;
    -webkit-border-image: url(../image/3-5/text-box.png) 1 1 1 stretch;
}