/*css 3-6*/

 .con-all{
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left:0; 
 }
 .con-left-con{
  width: 16vw;
  height: 42vh;
  border: 2vh solid transparent;
  border-image:url(../../image/2/2-border.png) 30;
  margin:0 1vh;
  position: relative;
  text-align: center;
 }
 .con-left-con p{
    font-size: 2vh;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0; 
    margin-top: 20vh;
 }
 /*剩余内容区域的右边部分*/
 .conRight{
  width: 56vw;
  height: 67.5vh; 
  background:rgba(30,48,88,0.5);
  }
  /*剩余内容区域的右边部分 的顶部区域*/
  .conRight .con-right-top{
    position: relative;
    color: #fff;
  }
  .con-right-top p{    
    width: 96%;
    height: 9vh;
    font-size: 4vh;
    text-align: center;
    line-height: 9vh;
    margin: 2vh auto;
    background-color: #1f273e;
  }
  .con-right-top span{
    display: inline-block;
    width: 4.7vw;
    height: 2.6vh;
    line-height: 2.6vh;
    font-size: 1vh;
    background-color: #1f273e;
    border-radius: 1vh;
    text-align: center;
  }
  .btn-left{
   position: absolute;
   top: 12vh;
   left: 6vh;
   overflow: hidden;
  }
  .btn-right{
   position: absolute;
   top: 12vh;
   right: 6vh;
   overflow: hidden;
  }
/*用于撑起因absolute布局造成的文档流空洞*/
.try{
  height: 9vh;
}
/*最右边部分的内容区域，即除了头部的所有*/
.con-right-con{
  width: 52vw;
  margin: 0 auto;  
  border-radius: 1.5vh;
  background:rgba(33,56,97,0.5);
  display: flex;
  flex-direction: row;
}
/*右下角区域中的左 边部分*/
.crc-left{
  width: 12vw;
  height: 37vh;
  margin-left: 2vh;
  position: relative;
}
/*右下角区域中的左边部分的顶部*/
.crc-left .crc-left-top{
  height: 15.7vh;
  width: 12vw;
  position: absolute;
  top: 1.8vh;
  background-color: green;
}
/*右下角区域中的左边部分的底部*/
.crc-left .crc-left-bottom{
  position: absolute;
  bottom: 0;
  width: 12vw;
  height: 17.6vh;
  background-color: green;
}
/*右下角区域中的中间部分*/
.crc-middle{
  width: 26vw;
  margin: 3.7vh .4vw;
  height: 31vh; 
  background-color: green; 
}
/*右下角区域中的右边部分*/
.crc-right{
  width: 12vw;
  height:36vh;
 position: relative;
}
/*右下角区域中的右边部分的顶部*/
.crc-right .crc-right-top{
  position: absolute;
  top: 1.9vh;
  height: 15.6vh;
  width: 12vw;
  background-color: green;
}
/*右下角区域中的右边部分的底部*/
.crc-right .crc-right-bottom{
  position: absolute;
  bottom: 0;
  height: 17.6vh;
  width: 12vw;
  background-color: green;
}
.con-bottom span{
  display: inline-block;
  width: 4vw;
  height: 3vh;
  font-size: 1vh;
  line-height: 3vh;
  border-radius: 1vh;
  text-align: center;
  background: #1f273e;
  margin: 2vh 45%;
  color: #fff;
}